
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/_LayoutUser.cshtml";
    var listNewProducts = (List<ModelEF.Model.Product>)ViewBag.NewProducts;
    var ListFeatureProducts = (List<ModelEF.Model.Product>)ViewBag.ListFeatureProducts;
}

<h2>Index</h2>

